<div class="container">

	<form>
		<div class="row">
			<div class="form-group">

				<div class="col-25">
					<label for="firstName">First Name</label>
				</div>

				<div class="col-75">
					<input id='firstName' type="text" class="form-control">
				</div>

			</div>
		</div>

		<div class="row">
			<div class="form-group">

				<div class="col-25">
					<label for="comment">Comment</label>
				</div>

				<div class="col-75">
					<textarea id="comment" cols="30" rows="10" class="form-control"></textarea>
				</div>

			</div>
		</div>

		<div class="row">
			<button class="btn btn-primary submit-button">Submit</button>
		</div>

	</form>

</div>
